.contant {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dados{
    width: 450px;
    height: 380px;
    background-color: #c3c3c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: none;
    border-radius: 20px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input {
    width:100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

label {
    color: black;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    font-size: 20px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    border: none;
    border-radius: 20px;
}

.medida{
    display: inline;
    font-size: 20px;
    
}

#button {
    width: 170px;
    height: 50px;
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#resultado {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}