.contant {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    height: 60%;
    background-color: #A0A0A0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    color: black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    font-size: 30px;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.medida{
    display: inline;
    font-size: 20px;
    
}

#button {
    width: 170px;
    height: 50px;
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
}

#resultado {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#resultado1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#resultado2 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}